
/* GenerateSignatureField.css */

.signature-container {
    max-width: 400px;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #F9F9F9;
}

.signature-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.signature-canvas {
    border: 1px solid #ccc;
    margin-top: 0.5rem;
    /* width: 275px !important; */
    height: 200px;
    touch-action: none; /* helps for touch devices */
}


.clear-button {
  display: flex;
  gap: 10px;
  /* or use margin-right method if you prefer */
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Prevent body scroll */
}