.custom-button {
    width: 50px;
    height: 50px;
    background-color: #17a2b8;
    color: white;
    border: 2px solid #17a2b8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Button hover state */
.custom-button:hover {
    background-color: #138496;
    border-color: #138496;
}

/* Focus styles to remove outline */
.custom-button:focus {
    outline: none;
    box-shadow: none;
}