.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}
.tooltip-btn {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;  /* Position below the button */
  left: 40%;
  margin-left: -60px;  /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-btn:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

